exportPattern(split_up_down)
exportPattern(dist_contrast)
exportPattern(extract_file)
exportPattern(csv_to_xlsx)
exportPattern(dittplot)
exportPattern(annotation)
exportPattern(compute_index)
importFrom("utils", "read.csv", "write.csv")
importFrom("stats", "as.dist")
importFrom("gplots", "venn")
importFrom("ggplot2","ggplot","ggsave")
importFrom("purrr", "reduce")
importFrom("magrittr","%>%")
importFrom("dplyr", "left_join")
importFrom("mclust","classError")
importFrom("aricode","RI","ARI","NMI","AMI")
importFrom("Seurat","Idents","FindAllMarkers", "DimPlot")
importFrom("stats", "chisq.test", "filter")
importFrom("xlsx","write.xlsx")
importFrom("enrichR","setEnrichrSite")
import("tidyverse")
