exportPattern(split_up_down)
exportPattern(dist_contrast)
exportPattern(extract_file)
exportPattern(dittplot)
importFrom("utils", "read.csv", "write.csv")
importFrom("stats", "as.dist")
importFrom("gplots", "venn")
importFrom("ggplot2","ggplot","ggsave")
importFrom("purrr", "reduce")
importFrom("magrittr","%>%")
importFrom("dplyr", "left_join")
import("tidyverse")